In [37]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

import QuantLib as ql

from functions import *

In [39]:
notional = 100000

calendar = ql.TARGET()
settlement_date = ql.Date(12,11,2025)
maturity_date = ql.Date(10,10,2028)

day_rolling = ql.ModifiedFollowing
termination_day_rolling = ql.ModifiedFollowing
end_of_month = False
date_generation = ql.DateGeneration.Backward

discount_curve = pd.read_excel("tsData2025.xlsx", index_col= 0)
new_row = pd.DataFrame([[1]], columns=discount_curve.columns)
discount_curve = pd.concat([new_row, discount_curve], axis = 0, ignore_index= True)

# Fixed Leg
swap_rate = 0.02
tenor_fixed = ql.Period(1,ql.Years)
day_count_fixed = ql.ActualActual(ql.ActualActual.ISDA)

schedule_fixed = ql.Schedule( settlement_date,
                        maturity_date,
                        tenor_fixed,
                        calendar,
                        day_rolling,
                        termination_day_rolling,
                        date_generation,
                        end_of_month) 

# Floating Leg
current_coupon = 0.00340
spread = 0
tenor_floating = ql.Period(6,ql.Months)
day_count_floating = ql.Actual360()

schedule_floating = ql.Schedule( settlement_date,
                        maturity_date,
                        tenor_floating,
                        calendar,
                        day_rolling,
                        termination_day_rolling,
                        date_generation,
                        end_of_month)

In [40]:
swap = price_swap(
    settlement_date,
    maturity_date,
    discount_curve,
    calendar,
    tenor_fixed,
    tenor_floating,
    swap_rate,
    current_coupon,
    spread,
    notional,
    day_count_fixed,
    day_count_floating,
    day_rolling,
    schedule_fixed,
    schedule_floating,
    is_receiver= False
)

In [41]:
swap["Price"]

5695.940844160997

In [42]:
swap["Summary Table"]

,Start Date,Pay Date Fixed,Year Frac Fixed,Pay Time Fixed,Discount Curve Fixed,Cash Flows Fixed,Discounted Cash Flows Fixed,Pay Date Floating,Year Frac Floating,Pay Time Floating,Discount Curve Floating,Spread (bps),Coupon Rates (No Spread),Cash Flows Floating,Discounted Cash Flows Floating
0,"October 10th, 2025","October 12th, 2026",1.005479,0.915068,0.998468,2010.958904,2007.877555,"April 10th, 2026",0.505556,0.408219,0.999090,0,0.003400,-171.888889,-171.732517
1,"October 12th, 2026","October 11th, 2027",0.997260,1.912329,0.998123,1994.520548,1990.775922,"April 12th, 2027",0.505556,1.413699,0.998215,0,0.000500,-25.281426,-25.236308
2,"October 11th, 2027","October 10th, 2028",0.997882,2.910210,0.997865,1995.763156,1991.503088,"April 10th, 2028",0.505556,2.410210,0.998015,0,0.000213,-10.786897,-10.765484
3,"April 10th, 2026",NaN,NaN,NaN,NaN,NaN,NaN,"October 12th, 2026",0.513889,0.915068,0.998468,0,0.001213,-62.351015,-62.255476
4,"April 12th, 2027",NaN,NaN,NaN,NaN,NaN,NaN,"October 11th, 2027",0.505556,1.912329,0.998123,0,0.000184,-9.298994,-9.281535
5,"April 10th, 2028",NaN,NaN,NaN,NaN,NaN,NaN,"October 10th, 2028",0.508333,2.910210,0.997865,0,0.000295,-14.976369,-14.944401